gr.vscode
.vs

*/bin/
*/obj/
*/log/
*/logs/
*/*.db
*/*.db-shm
*/*.db-wal 
AzFuncUnitTestWithEf/__azurite_db_blob__.json
AzFuncUnitTestWithEf/__azurite_db_blob_extent__.json


**/.vscode/
**/.vs/
**/bin/
**/obj/
