@page
@model MoviesApp.Pages.Movies.CreateMovieModel
@{
    ViewData["Title"] = "Create New Movie";
}

<h3 class="text-center text-primary display-4"><strong>@ViewData["Title"]</strong></h3>
<hr />

<div class="d-flex justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
        <form method="post" asp-page-handler="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group my-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Enter title" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Rating" class="control-label"></label>
                <input asp-for="Rating" class="form-control" placeholder="Enter rating" />
                <span asp-validation-for="Rating" class="text-danger"></span>
            </div>
            <div class="form-group my-2">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control" placeholder="Enter description" rows="3"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group my-4">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>